 body {
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;

     background: rgb(238, 174, 202);
     background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
 }

 .container {
     width: 100%;
     padding: 10px;
 }

 .card {
     background-color: white;
     display: flex;
     border: 5px solid rgba(74, 202, 238, 0.642);
     border-radius: 10px;
     overflow: hidden;
 }

 .img-perfil {

     padding: 10px;
 }

 .img-perfil img {
     width: 10rem;
     height: auto;
 }

 .info {

     display: flex;
     flex-direction: column;
     align-items: center;
 }

 h1 {
     text-align: left;
 }

 h2 {
     text-align: left;
 }

 .botones {
     margin: 30px;
 }

 .contacto {
     margin-top: 20px;
     font-size: 1.6rem;
     background-color: white;
     color: black;
     font-variant: small-caps;
     letter-spacing: 2px;
     padding: 10px 20px;
     border: 2px solid rgba(74, 202, 238, 0.831);
     border-radius: 5px;
     cursor: pointer;
     text-decoration: none;
     transition: all 0.2s linear;
 }

 .contacto:hover {
     color: white;
     background-color: rgba(74, 202, 238, 0.642);
 }

 /*************************** Aplicar estilos cuando la pantalla sea menor o igual a 750px****************************/
 @media (max-width: 750px) {
     .card {
         flex-direction: column;
     }

     .img-perfil,
     .info {
         text-align: center;
     }

     .info {
         padding-top: 20px;
     }

     .img-perfil img {
         max-width: 50%;
     }

     .botones {
         align-items: center;
     }
 }